.main {
  background: url("images/circle_in_wind.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.theme {
    height: 350px;
}

.theme .container {
    margin-top: 100px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Shift', sans-serif;
}

.theme p {
    font-size: 20px;
}

.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.nav li {
    display: inline;
}





  min-height: 50%;
}
